.pmCrown {
    display: block;
    position: absolute;
    font-size: 20px;
}

.pmCrown:hover{
    background: rgba(65, 88, 158, 0.6);
}

.modal-dialog.pmModal{
    position: absolute;
    width: 300px;
}

.pmMenulist{
    font-size: 26px;
}

.well.well-sm.pmCount {
    display: block;
    position: absolute;
    font-size: 9px;
}

.pmcases{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: darkred;
}

.pmtime{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: greenyellow;
}